{% extends 'base.html' %}

{% block title %}Login{% endblock %}


{% block section %}

{%if user.is_authenticated %}

<script type="text/javascript">
    window.location = "/"
</script>

{%else%}
<div class="row justify-content-center">
        <div class="col-8 card mt-5">

                <div class="card-body mt-3 ">
                    <h4 class="card-title text-info text-center">Iniciar Sesion</h4>
                    <form action="" method="post" class="md-form ">
                        {%csrf_token%}
            
                        {% load widget_tweaks %}
            
                        <div class="md-form">
                            {% render_field form.username class+="form-control"%}
                            <label>Nombre de Usuario</label>
                            {{form.username.errors}}
                        </div>
            
                        <div class="md-form">
                            {% render_field form.password class+="form-control"%}
                            <label>Contraseña</label>
                            {{form.password.errors}}
                        </div>
            
                        <!-- Forgot password -->
                        <div class="row justify-content-between">
                            <div class="col-6">
                                <a href="#" class="text-info">Olvidaste tu contraseña</a>
                            </div>
                            <div class="col-6">
                                <a href="#" class="text-info">Olvidaste tu nombre de usuario</a>
                            </div>
                      
                        </div>
            
                        <button class="btn btn-outline-info btn-block mt-4 waves-effect z-depth-1 text-capitalize" type="submit">Entrar</button>
            
                    </form>
                </div>
            </div>
            
</div>


{%endif%}

{% endblock %}