{% extends "base.html" %}

{% block section %}

{% if user.is_authenticated %}
    <section>
        <div class="card bg-success text-white">
            <div class="card-header">
                <h4>Contraseña cambiada exitosamente</h4>
            </div>
            <div class="card-body">
                <h5>En breve sera redireccionado a la pagina de inicio</h5>

                <script type="text/javascript">
                    setTimeout(function(){
                        window.location = "/"
                    },
                    3000);
                </script>

            </div>
        </div>
    </section>
{%else%}

{% include "noAuth.html" %}

{% endif %}

{% endblock section %}
