{% extends "base.html" %}

{% block section %}
<section>

        <div class="card z-depth-4 col-md-7 rounded">
                <div class="card-header black  text-white">Recuperar Contraseña</div>
              <div class="card-body">
                  <form method="post">
                      {% csrf_token %}
                      {% load widget_tweaks %}
        
                     
                    <div class="md-form">
                            {% render_field form.email class+="form-control"%}
                            <label>Email</label>
                            {{form.old_password.errors}}
                    </div>
           
                        <!--label for="old_password">Contraseña Antigua</label-->
                    <input type="submit" class="btn btn-black" value="Enviar" />
        
                  </form>
              </div>


</section>
  
{% endblock section %}
