{%extends 'base.html'%}

{%block section%}

  {% if user.is_authenticated %} 
  <section class="row">

    <div class="card z-depth-4 col-md-7 rounded">
        <div class="card-header bg-primary  text-white">Cambiar Contraseña</div>
      <div class="card-body">
          <form action="" method="post">
              {% csrf_token %}
              {% load widget_tweaks %}

             
            <div class="md-form">
                    {% render_field form.old_password class+="form-control"%}
                    <label>Contraseña Antigua</label>
                    {{form.old_password.errors}}
            </div>

            <div class="md-form">
                    {% render_field form.new_password1 class+="form-control"%}
                    <label>Contraseña Nueva</label>
                    {{form.new_password1.errors}}
            </div>

            <div class="md-form">
                    {% render_field form.new_password2 class+="form-control"%}
                    <label>Confirmar Contraseña Nueva</label>
                    {{form.new_password2.errors}}
            </div>

                <!--label for="old_password">Contraseña Antigua</label-->
            <input type="submit" class="btn btn-primary" value="Cambiar" />

          </form>
      </div>
       
    </div>

    <div class="card bg-primary text-white   col-md-4 p-3 m-3 z-depth-4 rounded">
        <ul class="list-group list-group-flush ">
          <li class="list-group-item bg-primary text-white  ">Su contraseña no puede ser similar a su otra información personal.</li>
          <li class="list-group-item bg-primary text-white  ">Su contraseña es muy corta. Debe contener al menos 8 caracteres.</li>
          <li class="list-group-item bg-primary text-white  ">Su contraseña no puede ser una contraseña común.</li>
          <li class="list-group-item bg-primary text-white  ">Su contraseña no puede ser enteramente numérica.</li>
        </ul>
    </div>

  </section>

       


{%else%}

  {% include "noAuth.html" %}

{%endif%}

{%endblock%}