
<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-success text-capitalize" data-toggle="modal" data-target="#basicExampleModal">
    <h5>Inscribirse  <i class="fas fa-paper-plane fa-lg ml-2"></i></h5>
</button>

<!-- Modal -->
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header white text-info">
                <h5 class="modal-title " id="exampleModalLabel">Confirmar Accion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                Esta seguro que desea inscribirse en {{curso}}

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-red" data-dismiss="modal">Cerrar</button>
                
                <form action="/course/detail/{{curso.id}}/course_confirm_action" method="post">
                    {%csrf_token%}
                    <input type="hidden" name="user" value="{{user.id}}" />
                    <input type="hidden" name="curso" value="{{curso.id}}" />
                    <input type="hidden" name="action" value="enroll" />
                  
                    <button type="submit" class="btn btn-success">Aceptar</button>
                </form>

            </div>
        </div>
    </div>
</div>