<nav class="navbar navbar-expand-lg navbar-light white fixed-top">

    <div class="container">

        <a class="navbar-brand title text-info active" href="/"><b>Sistema de Registro Docente</b>     </a>
        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> 
        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">
            <!-- Links -->
            <ul class="navbar-nav mr-auto"> 
                {%if user.is_authenticated%}
                <li class="nav-item">
                    <a href="\" class="nav-link btn text-capitalize scroll-link text-info">
                        <i class="fas fa-home "> </i> Inicio
                    </a>
                </li>
                    
                    {% if user.is_staff %}
                    <li class="nav-item">
                        <a href="\admin" class="nav-link btn text-capitalize scroll-link text-info">
                            <i class="fas fa-book"> </i> Admin
                        </a>
                    </li>
 
                    
                    {% endif %}
                         
                <li class="nav-item ">
                    <a href="{% url 'course' %}" class="nav-link text-capitalize btn text-info ">
                        <i class="fas fa-chalkboard-teacher"> </i> Ver Cursos
                    </a>
                </li>

                {%endif%}

            </ul>
            {%if user.is_authenticated%}
            <!-- Dropdown -->
            <div class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle text-info" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-circle"></i> {{user.username}}</a>
                <div class="dropdown-menu dropdown-info-color btn white" aria-labelledby="navbarDropdownMenuLink">
                    <a href="#" class="dropdown-item info text-info white text-capitalize"> <i class="fas fa-calendar-alt"></i>
                        Historial</a> 
                    <a href="{% url 'update_email' %}" class="dropdown-item white text-info text-capitalize"><i class="fas fa-envelope">
                        </i> Cambiar Email</a> 
                    <a href="{%url 'update_username' %}" class="dropdown-item white text-info text-capitalize"><i
                            class="fas fa-user-cog"> </i> Cambiar Nombre de Usuario</a> 
                    <a href="{% url 'password_change' %}" class="dropdown-item white text-info text-capitalize"><i
                            class="fas fa-key"> </i> Cambiar Contraseña</a> 
                    <a href="{%url 'user_profile'%}" class="dropdown-item  white text-info text-capitalize"><i class="fas fa-user-edit">
                        </i> Datos Personales</a>
                    <a href="{% url 'logout' %}" class="dropdown-item  white text-info text-capitalize"> <i class="fas fa-sign-out-alt">
                        </i> Cerrar Sesion </a> 
                </div>
            </div> 
            {%else%}
            <a href="http://www.itcj.edu.mx" class=" nav-link btn text-info">ITCJ</a>
            <a href="http://www.sii.itcj.edu.mx" class=" nav-link btn  text-info">SII</a>
            <a href="http://www.ead.itcj.edu.mx" class=" nav-link btn  text-info">EAD</a>

            <a href="{% url 'login' %}" class="nav-link btn text-capitalize text-info"> <i class="fas fa-sign-in-alt">
                </i> Iniciar Sesion </a> 
            {%endif%} 
        </div>
    </div>
</nav>
<!--/.Navbar-->