{% extends 'base.html' %} 
{% block title %}{{curso}}{% endblock %} 
{%block header %} {% include 'header.html'%} {% endblock header %} 


{% block section %}

 {% if user.is_authenticated %}
  
    {% if is_instructor %}
 
<div class="row mt-5 justify-content-center">
  <div class="card p-3">
    <h2 class="card-title text-center text-danger">Administracion del Curso</h2>
    <div class="card-body">
      <h3>{{ curso }}</h3>
    </div>
  </div>
</div>

<div class="row my-3 text-center justify-content-center">
  <div class="card col-5 mx-2">
    <h4 class="card-title text-danger">Alumnos Inscritos</h4>
  </div>
</div>
    
    {% if alumnos %}
    {% for alumno in alumnos %}

    <div class="row justify-content-center">
        <div class="card col-5 my-3 py-3">
            <h5 class="text-center">{{alumno.get_full_name}}</h5>
        </div>
        <div class="col-6 m-1">
                <div class="row justify-content-center">
                       
                    <div class="col-4 p-2 mx-2">
 
                            <a href="/course/detail/{{curso.id}}/admin/{{alumno.id}}" class="btn btn-outline-primary bg-white text-capitalize"><i class="fas fa-book  fa-lg mx-1"></i>Asistencia y Evaluacion</a>
 
                    </div>
                   
                </div>
        </div>
    </div>

    {% endfor %} 


    {% else %}
    <div class="row justify-content-center">
        <div class="card m-3 p-3">
            <h3 class="text-danger text-center">Actualmente no hay ningun Alumno inscrito</h3>
        </div>
    </div>
    {% endif %}
        
    
    {% else %}
<div class="row mt-5 justify-content-center">
  <div class="card p-3">
    <h2 class="card-title text-danger">
      El Usuario no es Instructor del curso
    </h2>
  </div>
</div>

{% endif %} {% else %} {% include 'noAuth.html' %} {% endif %} {% endblock section %}
