{%load staticfiles%}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>{% block title %}{% endblock %}</title>


    {% load static %}
    <link href="{%static 'css/mdb.min.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}" />

</head>
<body class="blue-grey lighten-5">
    <header class="sticky-top fixed-top">
        {% include 'header.html' %}
    </header>


    <main class="container text-center mt-4">

        {%block section%}

        {% endblock section%}


    </main>
    <br />
    <footer class="font-small fixed-bottom pt-4 mt-4">

        <section class="footer-copyright text-center text-white black py-3">
            Instituto Tecnologico De Ciudad Juarez |  Av. Tecnológico No. 1340 C.P. 32500 Ciudad Juárez, Chih. México
            | Make it simple, but not simpler 
            © 2018 Copyright:
            <a href="https://www.itcj.edu.mx/"> Instituto Tecnologico de Ciudad Juarez</a>
        </section>

    </footer>

    {% load static %}
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/mdb.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>


</body>
</html>