{% extends 'base.html' %}

{% block title %}Cursos disponibles{% endblock %}

{% block header %}
{% include 'header.html'%}
{% endblock header %}

{% block section %}

{% if user.is_authenticated %}

<div class="bg-white mt-4 shadow-lg">

    <h4 class="mt-2 text-light">  Cursos disponibles para inscripcion del semestre: </h4>

    {% if current_semester == 'ago_dic' %}

    <h4 class="text-primary">Agosto - Diciembre   {{current_year}}</h4>

    {% else %}

    <h4 class="text-primary">Enero - Junio   {{current_year}}</h4>

    {% endif %}
   
    <br />
       
</div>


<div class="bg-white mt-4 shadow-lg">
    {% include 'rows.html' %}
</div>
    {%endif%}


{% endblock section %}