{% extends 'base.html' %}

{% block title %}Cursos disponibles{% endblock %}

{% block header %}
{% include 'header.html'%}
{% endblock header %}

{% block section %}

{% if user.is_authenticated %}

<div class="col-md-7">
    <div class=" card my-md-4 text-center">

        <div class="card-header bg-info text-white">
            <h4>Cursos Disponibles Para Inscripcion</h4>

            <h5> {% if current_semester == 'ago_dic' %} Agosto - Diciembre {% else %} Enero - Junio {% endif %} {%now 'Y'%} </h5>

        </div>

        <div class="card-body">
                <form class="form-inline md-form mr-auto mb-4">
                    <div class="col-md-12">
                            <input class="form-control mr-sm-2" type="text" placeholder="Buscar" name="search" aria-label="Search">
                            <button class="btn btn-outline-info btn-rounded btn-sm my-0 text-capitalize" type="submit">Buscar Cursos</button>
                    </div>
                        
                      </form>
        </div>
    </div>
</div>




<div class="col-md-12">
    <div class="card white mt-4 align-content-md-center">
        {% include 'snippets/rows.html' %}
    </div>
</div>





{%endif%}


{% endblock section %}