<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark black lead shadow-lg">

  <!-- Navbar brand -->
  <a class="navbar-brand btn black text-capitalize" href="\">Sistema de Registro Docente</a>

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">

      <!-- Links -->
      <ul class="navbar-nav mr-auto">

          {%if user.is_authenticated%}

          <li>
              <a href="\" class="nav-link scroll-link text-white">
                  <i class="fas fa-home "> </i> Inicio
              </a>
          </li>

          <li class="nav-item ">
              <a href="{% url 'course' %}" class="nav-link scroll-link ">
                  <i class="fas fa-chalkboard-teacher"> </i> Ver Cursos
              </a>
          </li>

          {%endif%}

      </ul>
      {%if user.is_authenticated%}
      <!-- Dropdown -->
      <div class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-circle"></i> {{user.username}}</a>
          <div class="dropdown-menu dropdown-primary btn black" aria-labelledby="navbarDropdownMenuLink">
              <a href="#" class="dropdown-item black text-white text-capitalize"> <i class="fas fa-calendar-alt"></i>  Historial</a>

              <a href="{% url 'change_email' %}" class="dropdown-item black text-white text-capitalize"><i class="fas fa-envelope"> </i>  Cambiar Email</a>

              <a href="#" class="dropdown-item black text-white text-capitalize"><i class="fas fa-user-cog"> </i>  Cambiar Nombre de Usuario</a>

              <a href="{% url 'password_change' %}" class="dropdown-item black text-white text-capitalize"><i class="fas fa-key"> </i>  Cambiar Contraseña</a>

              <a href="{%url 'personal' %}" class="dropdown-item  black text-white text-capitalize"><i class="fas fa-user-edit"> </i>  Datos Personales</a>
              <a href="{% url 'logout' %}" class="dropdown-item  black text-white text-capitalize"> <i class="fas fa-sign-out-alt"> </i> Cerrar Sesion      </a>

          </div>
      </div>

      <form class="form-inline">
          <div class="md-form my-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Buscar" aria-label="search">
          </div>
      </form>

      {%else%}
      <a href="http://www.itcj.edu.mx" class=" nav-link btn black text-white">ITCJ</a>
      <a href="http://www.sii.itcj.edu.mx" class=" nav-link btn black text-white">SII</a>
      <a href="http://www.ead.itcj.edu.mx" class=" nav-link btn black text-white">EAD</a>

      <a href="{% url 'login' %}" class="nav-link btn black text-capitalize text-white"> <i class="fas fa-sign-in-alt"> </i> Iniciar Sesion </a>

      {%endif%}


  </div>
</nav>
<!--/.Navbar--> 