
<table class="table text-dark text-md-center  table-responsive-md ">

    <thead class="text-white bg-info">
        <tr>
            <th scope="col-md"><h6>Status</h6></th>
            <th scope="col-md"><h6>Curso</h6></th>
            <th scope="col-md"><h6>Fecha</h6></th>
            <th scope="col-md"><h6>Detalles</h6></th>

        </tr>
    </thead>

    <tbody class="white">

        {%if cursos_alumno %}
        {% for curso in cursos_alumno %}
       
        <tr class="text-lg">
            <td><b>Alumno</b></td>
            <td ><b>{{curso.nombre}}</b></td>
            <td>
                <b>
                    {{curso.hora_inicio}} - {{curso.hora_final}}<br />
                    {{curso.dia_inicio}} - {{curso.dia_final}}
                </b>
            </td>
            <td>
                <a href="{% url 'detail' curso.id %}" class="btn  btn-outline-info  btn-sm m-0"><b>Ver Curso</b></a>
            </td>

        </tr>

        {%endfor%}
        {%endif%}


        {%if cursos_instructor%}

        {%for curso in cursos_instructor%}

        <tr class="text-lg">
            <td>Instructor</td>
            <td>{{curso.nombre}}</td>
            <td>
                {{curso.hora_inicio}} - {{curso.hora_final}}<br />
                {{curso.dia_inicio}} - {{curso.dia_final}}
            </td>
            <td>
                <a href="{% url 'detail' curso.id %}" class="btn btn-outline-info  btn-sm m-0"><b>Ver Curso</b></a>
            </td>
        </tr>
        {%endfor%}
   
    {%endif%}

    {%if cursos_colaborador%}
    {%for curso in cursos_colaborador%}

    <tr class="text-lg">

        <td>Colaborador</td>
        <td>{{curso.nombre}}</td>
        <td>
            {{curso.hora_inicio}} - {{curso.hora_final}}<br />
            {{curso.dia_inicio}} - {{curso.dia_final}}
        </td>
        <td>
            <a href="{% url 'detail' curso.id %}" class="btn btn-outline-info  btn-sm m-0"><b>Ver Curso</b></a>
        </td>

    </tr>
    {%endfor%}

    {%endif%}

    </tbody>

</table>