<div class="w3-row-padding w3-margin-top">
    <hr>
    <div class="w3-half">
        <div class="w3-card-4 w3-padding-top w3-white">

            <h2 class="w3-black">¿Que es el Registro Docente?</h2>
            <p class="w3-large w3-justify w3-padding">
                Sistema creado con la finalidad de reducir el tiempo durante la inscripcion y
                imparticion de los cursos a los docentes durante los periodos vacacionales.
                <br /><br /><br />
            </p>
        </div>
    </div>
    <div class="w3-half">
        <div class="w3-card-4 w3-padding-top w3-white">
            <h2 class="w3-black">¿Como Entrar?</h2>
            <p class="w3-large w3-justify w3-padding">
                Ya sea que se le haya enviado un correo con los datos de su cuenta
                o el personal encargado de este sistema o de desarrollo academico,
                solo necesita entrar con esos datos para poder accesar al sistema,
                es libre de cambiar el nombre de usuario,contraseña, correo y datos personales a su gusto
            </p>
        </div>
    </div>
</div>
<div class="w3-card-4 w3-padding-top w3-white">
    <h2 class="w3-black">¿Olvidaste tus Credenciales?</h2>
    <p class="w3-large w3-center w3-padding">
        Si olvidaste alguna de tus credenciales (nombre de usuario, contraseña o ambos), da click en el que necesites y sigue las
        instrucciones <br /><br />  
        <a href="#" class="w3-button w3-mobile w3-text-blue w3-hover-text-white w3-hover-blue w3-large">Recuperar Contraseña</a>

        <a href="#" class="w3-button w3-mobile w3-text-blue w3-hover-text-white w3-hover-blue w3-large">Recuperar nombre de usuario</a>
        <br />
        <br />

    </p>
</div>


