<div class="information">
    <header>
        <br>
        <h1>
            ¿Que es el Registro Docente?
        </h1>
    </header>

    <p>
        Sistema creado con la finalidad de reducir el tiempo
        durante la inscripcion y imparticion de los cursos a
        los docentes durante los periodos vacacionales.
    </p>
</div>
<div class="information">
    <header>
        <h1>
            Instrucciones
        </h1>
    </header>
    <p>
        Ya sea si eres Docente que quiere tomar curso o Instructor de alguno, se les
        envio al correo que usan en la institucion una Contraseña y un usuario con el que pueden entrar
        al sistema.
    </p>

    <a href="#">Olvide mi Contraseña</a>
    <a href="#">Olvide mi Usuario</a>
    
</div>
