<table id="dtMaterialDesignExample" class="table table-striped text-dark" cellspacing="0" width="100%">
    <thead class="black text-white">
        <tr>
            <th class="th-sm">
               ID 
                <i class="fa fa-sort float-right" aria-hidden="true"></i>
            </th>
            <th class="th-sm">
                Nombre
                <i class="fa fa-sort float-right" aria-hidden="true"></i>
            </th>
            <th class="th-sm">
                Instructor
                <i class="fa fa-sort float-right" aria-hidden="true"></i>
            </th>
            <th class="th-sm">
                Fecha
                <i class="fa fa-sort float-right" aria-hidden="true"></i>
            </th>
            <th class="th-sm">
                Detalles
                <i class="fa fa-sort float-right" aria-hidden="true"></i>
            </th>
        </tr>
    </thead>
    <tbody>

        {%for curso in cursos%}
        
        <tr>
            <td><b>{{curso.id}}</b></td>

            <td ><b>{{curso.nombre}}</b></td>

            <td><b>{{curso.instructor.get_full_name|title}}</b></td>

            <td>
                <b>
                 {{curso.hora_inicio}} - {{curso.hora_final}}<br />
                 {{curso.dia_inicio}} - {{curso.dia_final}}
                </b>
            </td>
           

            <td>
            <a href="{% url 'detail' curso.id %}" class="btn btn-primary text-white btn-sm m-0">Ver Curso</a>
            </td>
      
        </tr>

        {%endfor%}
    </tbody>
</table>

