{% extends "base.html" %}


{% block section %}
{% if user.is_authenticated %}

<div class="row mt-5 justify-content-center">
                <div class="card white text-center{% if done == True %} text-success {% else %} text-danger {% endif %}">
                    <div class="card-header">
                        <h4>
                            {% if done == True %}
            
                            {% if action == 'enroll' %}
                            Curso Agregado Con Exito
                            {% else %}
                            Curso Eliminado Con Exito
                            {% endif %}
            
            
                            {% else %}
                                {% if action == 'enroll' %}
            
                                Hubo un Error al Agregar el Curso
            
                                {% else %}
                                Hubo Un Error al Eliminar el Curso
                                {% endif %}
            
                            {% endif %}
                        </h4>
                    </div>
            
                    <div class="card-body">
                        <h5>
                            {% if done == True %}
                                {% if action == 'enroll' %}
                                Haz sido exitosamente inscrito en la materia: <br> {{curso}} <br>
                               
                                {% else %}
                                El curso: {{curso}} ha sido eliminado exitosamente de tu horario
                                {% endif %}
                            
                                sera redireccionando hacia la pagina de inicio automaticamente,
                                si esto no sucede presione el link de abajo <br>
            
                            <a class="btn btn-danger text-capitalize" href="/"><i class="fas fa-home mr-2"> </i>Inicio</a>
                            <script type="text/javascript">
                                setTimeout(function () {
                                    window.location = "/"
                                },
                                    4000);
                            </script>
            
                            {% else %}
                                {% if action == 'enroll' %}
                                Ha surgido un error al momento de inscripcion, esta actualmente inscrito en otro curso a la misma hora
                                y fecha <br>
                                el curso en el que ya estas inscrito es {{verify_enroll.nombre}} <br>
                                {% else %}
                                No fue posible eliminar este curso de tu horario, por favor intentalo de nuevo  <br>
                                {% endif %}
                            
                            En breve sera redireccionado a los cursos para que pueda verificar esto <br>
                            O presione el link que aparece abajo <br>
                            <a href="{% url 'course' %}" class="btn btn-danger  text-capitalize">
                                <i class="fas fa-chalkboard-teacher fa-lg ml-2"> </i> Ver Cursos
                            </a>
            
                            <script type="text/javascript">
                                setTimeout(function () {
                                    window.location = "{%url 'course'%}"
                                },
                                    8000);
                            </script>
            
            
            
                            {% endif %}
                        </h5>
            
                    </div>
            
            
                </div>
            </div>
            






{%else%}
{% include "noAuth.html" %}

{% endif %}


{% endblock section %}