{% extends 'base.html' %}


{% block title %}
Detalles del curso
{% endblock title %}

{% block section %}

{% if user.is_authenticated %}



<div class="w3-card w3-white">
    <br />


    <h2 class="w3-karla ">el usuario {{user}}, ha sido eliminado exitosamente en el curso</h2>





    <h3 class="w3-karla w3-text-orange">Click aqui para seguir viendo los cursos </h3>
    <a href="{%url 'course' %}" class="w3-button w3-black w3-hover-blue w3-round-large w3-large w3-mobile ">       Ver cursos    </a>

    <h3 class="w3-karla w3-text-orange">Click aqui para regresar a la pagina principal</h3>
    <a href="{% url 'home' %}" class="w3-button w3-black w3-hover-blue w3-round-large w3-large w3-mobile ">Inicio</a>
    <br />
    <br />
</div>


{% else %}
{% include 'noAuth.html' %}
{% endif %}
{% endblock section %}