{% extends "base.html" %}
{% block section %}


{% if user.is_authenticated %}

<div class="row justify-content-center mt-5">
        <div class="card w-75">
                <h5 class="card-header text-info text-center">Cambiar Nombre de Usuario</h5>
                <div class="card-body">
                        <form action="/accounts/update_username/" method="POST">
                                {%csrf_token%}
                                {% load widget_tweaks %}
                                <div class="md-form">
                                        {% render_field form.username class+="form-control"%}
                                        <label>Nombre de Usuario Nuevo</label>
                                        {{form.username.errors}}
                                </div>

                                <div class="row justify-content-center">
                                        <input type="submit" value="Cambiar Nombre de Usuario" class="btn btn-info">
                                </div>



                        </form>
                </div>

        </div>
</div>





{%else%}

{% include "noAuth.html" %}


{% endif %}
{% endblock section %}