{% extends "base.html" %}
{% block section %}


{% if user.is_authenticated %}
  
<div class="card z-depth-4 rounded">
    <div class="card-header bg-primary text-white">Cambiar Email</div>
        <div class="card-body">
                <form action="/accounts/email_change/" method="POST">
                    {%csrf_token%}
                    {% load widget_tweaks %}
                    <div class="md-form">
                            {% render_field form.username class+="form-control"%}
                            <label>Nombre de Usuario nuevo</label>
                            {{form.username.errors}}
                    </div>
                    <input type="hidden" name="user_id" value="{{user.id}}" />
                    
                    <input type="submit" value="Cambiar" class="btn btn-primary">
                    
                </form>
        </div>
    
</div>

{%else%}

{% include "noAuth.html" %}


{% endif %}
{% endblock section %}
