{% extends "base.html" %}
{% block section %}


{% if user.is_authenticated %}
  
<div class="card z-depth-4 rounded">
    <div class="card-header bg-primary text-white">Cambiar Email</div>
        <div class="card-body">
                <form action="/accounts/update_email/" method="POST">
                    {%csrf_token%}
                    {% load widget_tweaks %}
                    <div class="md-form">
                            {% render_field form.email class+="form-control"%}
                            <label>Email Nuevo</label>
                            {{form.email.errors}}
                    </div>
                                       
                    <input type="submit" value="Cambiar" class="btn btn-primary">
                    
                </form>
        </div>
    
</div>

{%else%}

{% include "noAuth.html" %}


{% endif %}
{% endblock section %}
